


.fondo{
    background-image: url(/img/fondo.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
li{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
